<section class="page-section bg-light" id="highlights">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">Highlights</h2>
          <h3 class="section-subheading text-muted">Take a peak into some of our previous events.</h3>
      </div>
      <div class="d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item"><button [disabled]="current_page == 1" (click)="onPrevious()" class="page-link">Previous</button></li>
          <li class="page-item" *ngFor="let page of setupPagination()" [class.active]="current_page === page" (click)="onPageChange(page)"><a class="page-link">{{page}}</a></li>
          <li class="page-item"><button class="page-link" (click)="onNext()">Next</button></li>
        </ul>
      </div>
      
      <div class="row">
          <div *ngFor="let item of DisplayList(current_page)" class="col-lg-4 col-sm-6 mb-4">
              <!-- Portfolio item 1-->
              <div class="portfolio-item">
                  <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1" (click)="OpenModal(item)">
                      <div class="portfolio-hover">
                          <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                      </div>
                      <img class="img-fluid" src="{{item?.cover_image}}" loading="lazy" alt="..." />
                  </a>
                  <div class="portfolio-caption">
                      <div class="portfolio-caption-heading">{{item?.name}}</div>
                      <div class="portfolio-caption-subheading text-muted">{{item?.date}}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="page-section bg-light">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Video Highlights</h2>
            <h3 class="section-subheading text-muted">Check out these video highlights and don't forget to subscribe to our YouTube channel.</h3>
        </div>
        <div class="row">
            <div *ngFor="let video of paginatedVideos(videos_currentPage)" class="highlight-container col-6">
                <div class="video-container">
                    <iframe [src]="getSafeUrl(video.url)" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="text-container">
                    <div class="timeline-heading">
                        <h4>{{ video.title }}</h4>
                        <div class="timeline-body"><p class="text-muted">{{ video.description }}</p></div>
                    </div>
                </div>
            </div>
              <div class="d-flex justify-content-center">
                <ul class="pagination">
                  <li class="page-item"><button [disabled]="videos_currentPage === 1" (click)="prevPage()" class="page-link">Previous</button></li>
                  <li class="page-item" *ngFor="let page of setupVideosPagination()" [class.active]="videos_currentPage === page" (click)="onVideosPageChange(page)"><a class="page-link">{{page}}</a></li>
                  <li class="page-item"><button class="page-link" (click)="nextPage()">Next</button></li>
                </ul>
              </div>
        </div>
    </div>
  </section>

  <!-- Portfolio Modals-->
  <!-- Portfolio item 1 modal popup-->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Event details-->
                            <h2 class="text-uppercase">{{selected_event.name}}</h2>
                            <p class="item-intro text-muted">{{selected_event.date}}</p>
                       
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

                                <div class="carousel-inner">
                                <div *ngFor="let item of selected_event.image_paths; let i = index" >
                                    <div class="carousel-item" [class.active]="i === 0">
                                        <img src="{{item}}" class="d-block w-100" alt="..." loading="lazy">
                                    </div>
                                </div>
                                  
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>
                            
                            <p>{{selected_event.description}}</p>
                            <!-- <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul> -->
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-xmark me-1"></i>
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>