<section class="page-section" id="history">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase">History</h2>
          <h3 class="section-subheading text-muted">A brief look into our story.</h3>
      </div>
      <ul class="timeline">
          <li>
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/media/history/team.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>December 2021</h4>
                      <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Within the Faculty of Sciences of Bizerte, a group of friends and colleagues banded together to establish this club with a visionary goal: to cultivate a community where we can can learn, grow and innovate.</p></div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/media/history/1.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>2022-2023</h4>
                      <h4 class="subheading">Growing the Community</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Through our wide range of events and activities we were able to attract members and foster an environment for collaboration and knowledge-sharing.</p></div>
              </div>
          </li>
          <li>
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/media/history/2.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>2023-2024</h4>
                      <h4 class="subheading">Innovation in Action: Milestones in Projects and Events</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Leveling up our competitions, workshops, and partnerships propelled the club to new heights, cementing its reputation as a hub for student excellence.</p></div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/media/history/tayp.jpg" alt="..." /></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>2024-2025</h4>
                      <h4 class="subheading">Expansion: Reaching New Heights</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted">Preparing for the next steps by taking in on our biggest project yet in collaboration with Tunisian American Young Professionals (TAYP).</p></div>
              </div>
          </li>
          <li class="timeline-inverted">
              <div class="timeline-image">
                  <h4>
                      Be Part
                      <br />
                      Of Our
                      <br />
                      Story!
                  </h4>
              </div>
          </li>
      </ul>
  </div>
</section>