
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
          <a class="navbar-brand" href="#page-top"><img src="assets/media/logo-long.png" alt="..." /></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars ms-1"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                  <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                  <li class="nav-item"><a class="nav-link" href="#highlights">Highlights</a></li>
                  <li class="nav-item"><a class="nav-link" href="#history">History</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" href="#team">Team</a></li> -->
                  <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- Masthead-->
  <header class="masthead">
      <div class="container">
        
          <div class="masthead-subheading">Welcome To</div>
          <div class="masthead-heading text-uppercase">Art Of Code Club</div>
          <a class="btn btn-primary btn-xl text-uppercase" href="#about">Get Started</a>
      </div>
  </header>

  <!-- About Us-->
  <app-about-us></app-about-us>

  <!-- Events-->
  <app-events></app-events>

  <!-- History-->
  <app-history></app-history>

  <!-- Team-->
  <!-- <app-team></app-team> -->

  <!-- Partners-->
  <div class="py-5">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-2 col-sm-6 my-3">
                  <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/media/partners/fsb.png" alt="..." aria-label="Microsoft Logo" /></a>
              </div>
              <div class="col-md-2 col-sm-6 my-3">
                  <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/media/partners/4c.png" alt="..." aria-label="Google Logo" /></a>
              </div>
              <div class="col-md-2 col-sm-6 my-3">
                  <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/media/partners/eleone.png" alt="..." aria-label="Facebook Logo" /></a>
              </div>
              <div class="col-md-2 col-sm-6 my-3">
                  <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/media/partners/tst.png" alt="..." aria-label="IBM Logo" /></a>
              </div>
              <div class="col-md-2 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/media/partners/stb.png" alt="..." aria-label="IBM Logo" /></a>
              </div>
              <div class="col-md-2 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="assets/media/partners/paq.png" alt="..." aria-label="IBM Logo" /></a>
              </div>
          </div>
      </div>
  </div>
  
  <!-- Contact-->
  <section class="page-section" id="contact">
      <div class="container">
          <div class="text-center">
              <h2 class="section-heading text-uppercase">Contact Us</h2>
              <h3 class="section-subheading text-muted">Get in touch with our team.</h3>
          </div>
          

          <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="text-white my-3">Email</h4>
                <p class="text-muted"><a href="mailto:artofcodeclub@gmail.com">artofcodeclub&#64;gmail.com</a>
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="text-white my-3">Phone</h4>
                <p class="text-muted"><a href="tel:+21693721032">(+216) 93 721 032</a></p>
            </div>
            <div class="col-md-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6350.3752236485825!2d9.880234!3d37.266978!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12e31fcabaf83cd1%3A0x2e1cd92f29a2fa27!2sFaculty%20of%20Sciences%20of%20Bizerte!5e0!3m2!1sen!2stn!4v1727821772167!5m2!1sen!2stn" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h4 class="text-white my-3">Address</h4>
                <p class="text-muted">Faculty of Sciences of Bizerte, Jarzouna, Bizerte, Tunisia</p>
            </div>
          </div>

      </div>
  </section>
  <!-- Footer-->
  <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-start">Copyright &copy; Art Of Code 2024</div>
              <div class="col-lg-4 my-3 my-lg-0">
                  <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/artofcodeclub/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/artofcodeclub" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/company/art-of-code-club/posts/?feedView=all" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
              </div>
              <div class="col-lg-4 text-lg-end">
                  <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                  <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
              </div>
          </div>
      </div>
  </footer>

